/* Resetting Styles */
body,div,p,ul,ol,li,a,span,h1,h2,h3,h4,h5,h6,h7,fieldset,form{border:0;margin:0;padding:0}
.float-left{
float:left;
}
.float-right {
    float: right;
}
.marginTop6{
    margin-top: 6px;
}
ul{list-style-type:none;margin:0;padding:0;}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* header styles */
.mainHeader {
    width: 100%;
    background-color: #fff;
    float: left;
    border-bottom: 1px solid #ccc;
}
.innerDiv {
    width: 80%;
    margin: 0 auto;
        padding: 15px 0;
    overflow: hidden;
}
.header {
    background: url('../images/logo (1).png') no-repeat;
    height: 38px;
    width: 183px;
    float: left;    
}
/* menu */
.navDiv {
    background-color:#F6F6F6;
    width:100%;
    font-size:20px;
    clear: both;
}
.innerNavDiv {
    width: 80%;
    margin: 0 auto;
    //padding:10px;
    overflow: hidden;
}
.clear {
    clear:both;
}
.menu li a {
    color: #a7a9ac;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.menu li a.active {
        color: #111;
}
.menu li {
    //border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.active {
    font-weight: bold;
}
.leftSection a:hover{
	    color: #ff0300;
		text-decoration:none;
	}
/* Footer */
footer {
    background: #575C67;
    color: #fff;
    font-size: 0.85em;
    padding: 30px 0 15px;
}
footer ul {
    padding: 0;
}
footer ul li a, footer ul li a:hover {
    color: #fff;
    font-size: 12px;
}
footer ul li.privacy{
width:50%;
float: left;
}
.padding0 {
    padding: 0;
}
.text-center {
    text-align: center;
}
.mainContent {
    width: 85%;
    margin: 20px auto;
    overflow: hidden;
    min-height: 415px;
}
.account {
    font-size: 26px;
    font-weight: bold;
    color: #111;
}
label {
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
    float: left;
    font-size: 15px;
}
.accountSelect {
    width: 100%;
    border: 1px solid #D9D9D9;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
}
.accountText {
    padding :10px 0;
	font-weight:bold;
	font-size: 26px;
	color: #111;
}
.rightSection {
    display: none;
}
.accountTab {
    padding: 20px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.accountTab.active {
    background: #F9F9F9;
    color: #969696;
    padding: 20px;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-size: 16px;
}
.accountDetails {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
	background: url('../images/pattern_graypatch_white.png') no-repeat;
	background-position:right bottom;
    font-weight: bold;
    height: 100px;
}
.accountDetails.active {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    background: url('../images/pattern_graypatch.png') no-repeat #575C67;
    background-position:right bottom;
    color: #fff;
}

.accountDetailsTab {
	margin-top:15px;
}

.cancelApp {
    text-decoration: underline;
    color: red;
}
.plus {
    display: inline-block;
}
.image {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.checkIcon {
    background: url('../images/checking_clicked.png') no-repeat;
}
.cdsIcon {
    background: url('../images/CDs.png') no-repeat;
}
.savingsIcon {
    background: url('../images/Savings.png') no-repeat;
}
.hsaIcon {
    background: url('../images/HSA.png') no-repeat;
}
.roundedPlus {
    background: url('../images/add.png') no-repeat;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -12px;
}
.roundedPlus.active {
    background: url('../images/add_white.png') no-repeat;
}
.tickIcon {
    background: url('../images/red_clicked.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}
.thirdRow {
    margin: 30px 0;
}
.btnContinue {
    background: #ff0300;
    color: #fff;
    font-weight: bold;
    padding: 6px 15px;
	border: 1px solid #ff0300;
}
.btnContinue:hover,.btnContinue:focus{
	color:#fff;	
	border: 1px solid #ff0300;
}
.continueBtn {
    padding-left: 0;
}
.btnSave {
    background: #fff;
    border: 1px solid #ff0300;
    color: #ff0300;
    font-weight: bold;
    //padding: 6px 15px;
}
.upload {
    width: 50% !important;
}
.switchText {
    float: left;
    font-size: 14px;
    color: #575c67;
}
.switchBtn {
    background: url('../images/toggle_green.png') no-repeat;
    display: inline-block;
    width: 60px;
    height: 30px;
    float: left;
    margin-top: 0;
    margin-left: 15px;
}
.uploadStar{
	color: #337ab7;
}
.iconMobile {
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
	
}
.helpIcon {
    background: url('../images/info.png') no-repeat;
	margin-left: 5px;
}
.idIcon {
    background: url('../images/arrow.png') no-repeat;
    position: relative;
    top: 10px;
}
.tellAbout {
    font-weight: bold;
    font-size: 26px;
    color: #575c67;
    margin:20px 0;
}
.valid {
    margin: 20px 0;
}
.validText {
    margin: 10px 0;
}
.uploadText {
    font-weight: bold;
    font-size: 14px;
    color: #575c67;
    float: left;
}
.idText {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    float: left;
}
.uploadContainer {
    margin-bottom: 15px;
}
.idDetails {
    border: none;
}
p.two {
    font-weight: bold;
    font-size: 19px;
    color: #000000;
    float: left;
    margin-right: 7px;
}
.anchor {
    font-weight: bold;
    font-size: 16px;
    color: #ff0300;
    border-bottom: 1px solid red;
    clear: both;
    text-decoration: none;
}
.accountDetails.active {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    background: url('../images/pattern_graypatch.png') no-repeat #575C67;
    background-position:right bottom;
    color: #fff;
}
.cross {
    background: url('../images/cross.png') no-repeat;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -41px;

}
ul.Rates li a {
    color: #fff;
	text-decoration:underline;
}
ul.Rates li {
    display: inline-block;
    padding-right: 10px;
    color: #fff;
 }
p.para1 {
    font-weight: bold;
    font-size: 19px;
    color: #575C67;
    float: left;

}
p.two {
    font-weight: bold;
    font-size: 19px;
    color: #000000;
    float: left;
    margin: 0 7px;
}
.anchor {
     font-weight: bold;
    font-size: 16px;
    color: #ff0300;
    border-bottom: 1px solid red;
    clear: both;
    text-decoration: none;
}
.productContainer {
    margin-top: 20px;
}
.accInfoContainer {
    margin: 20px 0 20px 0;
}
.account.information {
    color: #575c67;
}
.accountDetails.productDetails {
    border-radius: 0;
    height: 80px;
}

.accountDetails.productDetails.active {
	font-size: 16px;
}

.fStyleItalic {
	font-style: italic;
}

.address {
    float: left;
    width: 50%;
    margin: 15px 0;
}

.branchdetailsContent .fSize14 label {
	font-size: 14px;
	line-height: normal;
}

.anotherZipText {
	font-weight: normal;
    font-size: 14px;
}

.reg {
    font-weight: bold;
    color: #777;
    font-size: 13px;
}
.swtClosed {
    background: url('../images/toggle_closed.png') no-repeat;
    width: 60px;
    height: 30px;
}
.interTransactions {
    margin :15px 0;
}
.transferInput {
    width: 5%;
    float: left;
}
.transfer {
    width: 95%;
    float: left;
    margin: 4px 0 0;
}
.transferContainer {
    margin: 5px 0;
	margin-left: -14px;
}

#st4 hr {
	margin-top: 0px;
    margin-bottom: 25px;
}

.chooseLine {
    text-decoration: underline;
}
/* Desktop Styles */
@media (min-width:831px){
    a {
        color: #000;
        text-decoration: none;
        font-size: 14px;
    }
    .menu li {
        float: left;
        width: 20%;
        margin: 0 2px;
        padding-bottom: 5px;
       //border-bottom: 2px solid #999;
        text-align: center;
    }
	
    .innerNavDiv {
        width: 80%;
        padding-top:50px;
        margin-left:90px;
        //padding:10px;
        overflow: hidden;
    }
    .accountSelect {
        width: 30%;
        border: 1px solid #D9D9D9;
        height: 35px;
        padding-left: 10px;
        border-radius: 5px;
    }
    .leftSection {
    width:75%;
    float: left;
    }
	.leftSection1 {
    width:78%;
    float: left;
    }
    .rightSection {
        width: 20%;
        float: left;
        display: block;
        margin-left: 0%;
        /* padding: 10px; */
        background: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        white-space: nowrap;
        position: absolute;
        top: 98px;
        right: 55px;
    }
	.contactInfo{
		border-bottom: 1px solid #ccc;
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
    .icon {
        height: 33px;
        width: 33px;
        float: left;
    }
    .phoneIcon {
    background: url('../images/phone.png') no-repeat;  
    }
    .mailIcon {
    background: url('../images/mail.png') no-repeat;  
    }
    .chatIcon {
    background: url('../images/chat.png') no-repeat;   
    }
    .connectInfo {
        background: url('../images/Connect.png') no-repeat;
        width: 250px;
        height: 115px;
        overflow: hidden;
        margin: 10px;
    }
    .contactDetails {
    width:80%;
    float:left;
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 10px;
   
    color: #575c67;
    font-size: 14px;
    font-weight: bold;
    }
    contactDetails:last-child  {
        border-bottom: none;
    }
    .contactDetails a {
    color:#ff0300;
    text-decoration:underline;
    }
    .contactDetails .open {
        color: #8CBF81;
        text-decoration:none;
    }
    .switchBtn { 
        margin-top: -5px;
    }
    .yesNo {
        float: left;
        color: #ccc;
        font-size: 14px;
        width: 5%;
        margin-left: 5%;
    }
    .addressCol {
        margin: 0 !important;
    }
	footer ul li.privacy{
		width:13%;
}
}


/* Prasad Code */
.Review h4 {
     font-weight: bold;
    font-size: 26px;
    color: #575C67;
    margin-bottom: 32px;
    margin-top: 34px;
}
.personal_detail {
     background: url('../images/personal_detail.png') no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 1px;
}
div h5.PI {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}
.edit {

 float: right;
 margin-top: -28px;
font-weight: bold;
 color: #ff0300;
 font-size: 13px;
}
.edit a {
    color:red;
    border-bottom:1px solid red;
}
.AccountActivity {
     background: url('../images/AccountActivity.png') no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 6px;
}
div h3.AI {
    font-weight: bold;
     color: #000000;
     font-size: 16px;
    margin-top: 49px;
}
.name {
	font-weight: bold;
	font-size: 18px;
	color: #3b434b;
	margin-bottom: 15px;
	margin-top:-28;
}
.bold {
    font-weight: bold;
	color: #3b434b;
	font-size: 14px;
	float: left;
	margin-bottom: 0px;
}
.light {
    font-weight: normal;
    color: #575C67;
    font-size: 14px;
	margin-bottom: 0px;
}

.marTop-15 {
	margin-top: -15px;
}

.Identification {
    font-weight: bold;
    color: #575C67;
     font-size: 14px;
     margin-top: 6px;
}
 .licenceImage {
     background: url('../images/layer9_img_upload.png') no-repeat;
    width: 103px;
    height: 50px;
    float: left;
    margin-top: 6px;
 }
.Licence {
    margin-top: 14px;
    font-weight: normal;
    color: #575C67;
    font-size: 14px;
 }
.address_p {
	margin-top:12px;
	font-weight: Medium;
	color: #575C67;
	font-size: 14px;
}
.addressp {
	font-weight: bold;
	color: #3b434b;
	font-size: 14px;
	margin: 0px;
}
.temporary {
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
}
.personInfo {
    font-weight: normal;
    color: #575C67;
    //font: 14px medium;
    float: left;
    width: 90%;
    margin: 10px 0;
}
.yesNo {
    float: left;
    color: #575c67;
    font-size: 14px bold;
    width: 5%;
    margin-left: 0%;
    margin: 10px 0;
}
p.BrachDetails {
     font-weight: bold;
    font-size: 14px;
    color: #3b434b;
    margin-bottom: 10px;
}
p.town {
    font-weight: Medium;
     color: #575C67;
     font-size: 14px;
}
div.transactions {
    margin-top: 16px;
    font-weight: bold;
     color: #777777;
     font-size: 14px;
}
.rewardIcon {
    background: url('../images/Gift_Smaller.png') no-repeat;
    height: 33px;
    width: 33px;
    float: left;
}
.masterCardIcon{
     background: url('../images/card_smaller.png') no-repeat;
    height: 33px;
    width: 33px;
    float: left;
}
.rewardText {
    float: left;
    width: 70%;
    margin-left: 5%;
    //font: 14px regular;
    color: #575c67;
}
.masterCardText {
    float: left;
    width: 70%;
    margin-left: 5%;
   // font: 14px regular;
    color: #3b434b;
}
p.Others_Activity {
     font-weight: bold;
    font-size: 14px;
    color: #3b434b;
    margin-bottom: 9px;

}
.It {
    font-weight: medium;
    font-size: 14px;
    color: #777777;
    margin-bottom: 18px;
}
ul.lastul li {
    font-weight: medium;
     color: #777777;
     font-size: 14px;
    list-style-type: circle;
    margin-bottom: 9px;
     list-style-type: none;
         margin-right: -124px;
}
ul.lastul li:before {
    /* Unicode bullet symbol */
    content: '\2022 ';
    /* Bullet color */
    color: #3b434b ;
    padding-right: 0.5em;
}
.rewardMaster {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
}
.addressCol {
    margin: 15px 0;
}
.add_details {
    color: #575c67;
	font-weight: normal;
}

.address_p .details {
	font-weight: normal;
}

.agree {
    margin-bottom: 20px;
}
.accDisclosure {
    padding: 20px 30px 30px 20px;
    background: #eee;
}
.acceptLink {
    margin: 10px 0;
}
.acceptCheck{
    float: left;
    width: 5%;
}
.acceptText {
    float: left;
    width: 95%;
}
.accDisclosure p
{
    font-size: 13px;
    color: #575c67;
}
.acceptText {
    font-size: 13px;
    color: #575c67;
}
.acceptLink a{
    color: blue;
    text-decoration: underline;
    margin: 15px 0;
    font-size:13px;
    cursor: pointer;
}
/* Mahesh Code  */

.fL {
    float:left;
}

.p1 {
    padding:1px;
}
.bgGreen {
    background-color: #88CD4B;
}
.bgRed {
    background-color: red;
}

.w25 {
    width:25%;
    height:3px;
    position:relative;
    bottom:-6px;
}

.w50 {
    width:50%;
    height:3px;
    position:relative;
    bottom:-6px;
}

.w100 {
    width:100%;
    height:3px;
    position:relative;
    bottom:-6px;
}

.hide {
    display: none;
}

.steps a {
    text-decoration: none;
    cursor: default;
}

.sub-steps {
    display: none;
}

.sub-steps.active {
    display: block;
}

.steps .active a:hover {
    cursor: pointer;
}

.sub-steps > div {
    display: none;
}
.sub-steps .active {
    background-color: red;
}
.step-content {
    //border: 1px solid #CCC;
}
.step-content .active, .sub-step-content .active {
    display: block;
}
.step-content .step-pane:not(.active), .sub-step-content .sub-step-pane:not(.active) {
    display: none;
}

.fSize14 {
    font-size: 14px;
}

.fSize15 {
    font-size: 15px;
}

.fSize12 {
    font-size: 12px;
}

.fSizeR12 {
    font-size:12px;
	font-weight: normal;
}

.fSizeR14 {
    font:14px regular;
}

.width20 {
    width:20%;
}

.width65 {
    width:65%;
}

.width80 {
    width:80%;
}



.c777 {
    color: #777 !important;
}

.c575c675 {
    color: #575c67 !important;
}

.cd8292e {
    color: #d8292e !important;
}

.cff0300 {
    color: #ff0300 !important;
}

.branchdetails, .accountextra, .accountactivity {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color:#000000;
}

.branchdetails  span {
    background: url('../images/BranchDetail.png') no-repeat;
}

.accountextra span {
    background: url('../images/AccountExtra.png') no-repeat;
}

.accountactivity span {
    background: url('../images/AccountActivity.png') no-repeat;
}

.branchdetails  span, .accountextra span, .accountactivity span {
    padding:10px 15px 10px 10px;
    float:left;
    background-position: left center;
}

.branchdetailsContent, .accountextraContent, .accountactivityContent {
    margin-top: 10px;
}

.rewardProgramLogo {
    background: url('../images/gift.png') no-repeat;
    padding-right: 20px;
}

.masterCardLogo {
    background: url('../images/payment.png') no-repeat;
    padding-right: 20px;
}

.rewardProgramLogo, .masterCardLogo {
    height: 75px;
    width: 70px;
    background-position: center;
}

.rewardProgram, .masterCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    height: 100px;
}

.accountDetails {
    cursor: Pointer;
}

.accountDetails.selectAccounts {
	font-size: 16px;
    color: #575c67;
}

.accountDetails.selectAccounts.active {
	color: #fff;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius:4px;
}

.custom-file-upload.active {
    background: url('../images/layer9_img_upload.png') no-repeat;
    height: 55px;
}

.fileText .close {
    height: 40px;
    width:20px;
    background: url('../images/cross_dark.png') no-repeat;
    background-position: center;
}

.bgGrey {
    background-color: grey;
}
/* personal info styles */
.margin0{
    margin:0;
}
.padding0{
padding:0;
}
.formHeading{
    font-size:24px;
}
.formTitle{
    border-bottom:1px solid #ccc;
    margin: 15px 0;
    padding-bottom: 8px;
}
.addApplicant{
    border-top: 1px solid #ccc;
	border-bottom:1px solid #ccc;
    margin: 15px 0;
    padding: 20px 0;
}
.addApplicant p{
	font-size: 18px;
    float: left;
}
.personalIcon{
    background: url('../images/personal_detail.png') no-repeat;
    width: 16px;
    height: 15px;
    margin-right: 9px;
    float: left;
}
.formPosition{
    position:relative;
    padding-left:0;
}
.placeholderTxt{
    color: #797c7f;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 9px;
    top: 13px;
}
.glyphicon-calendar {
    opacity: 0.5;
}
.changePosition{
    font-size: 10px;
    top: 9px;
}
#sb4  .form-control{
    height: 38px;
    padding-top: 15px;
}
#sb4  select.form-control{
    padding-top:6px;
    
}
.info{
    background: url('../images/info.png') no-repeat;
    height: 26px;
    width: 23px;
    float: left;
    margin-top:13px;
    margin-left: -5px;
}
.primaryIcon{
    background: url('../images/primary_address.png') no-repeat;
    width: 14px;
    height: 20px;
    margin-right: 9px;
    float: left;
}
.switchBtn_off {
    background: url('../images/toggle_closed.png') no-repeat;
    display: inline-block;
    width: 60px;
    height: 30px;
    float: left;
    /*margin-top: 0;*/
}
.enrollText {
    float: left;
    font:14px regular;
    width: 50%;
}
/*Date picker styles*/
/**
 * @package     PickMeUp - jQuery datepicker plugin
 * @author      Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @author      Stefan Petre <www.eyecon.ro>
 * @copyright   Copyright (c) 2013-2014, Nazar Mokrynskyi
 * @copyright   Copyright (c) 2008-2009, Stefan Petre
 * @license     MIT License, see license.txt
 */
.pickmeup {
  background: #eee;
  border: 1PX solid #eee;
  border-radius: 0.4em;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: none;
  position: absolute; 
}
  .pickmeup * {
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .pickmeup .pmu-instance {
      background: #fff;
    display: inline-block;
    height: 13.8em;
    text-align: center;
    width: 15em; }
    .pickmeup .pmu-instance .pmu-button {
      color: #666;
      cursor: pointer;
      outline: none;
      text-decoration: none; }
    .pickmeup .pmu-instance .pmu-today {
      background: red;
      color: #eeeeee; 
      border-radius: 20px;
      width: 2em !important;
      height: 2em !important;
      line-height: 2em !important; }
    .pickmeup .pmu-instance .pmu-button:hover {
      color: #88c5eb; }
    .pickmeup .pmu-instance .pmu-not-in-month {
      color: #666666; }
    .pickmeup .pmu-instance .pmu-disabled,
    .pickmeup .pmu-instance .pmu-disabled:hover {
      color: #333333;
      cursor: default; }
    .pickmeup .pmu-instance .pmu-selected {
      background: red;
      color: #eeeeee; 
      border-radius: 20px;
      width: 2em !important;
      height: 2em !important;
      line-height: 2em !important;
  }
    .pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
      background: #17384d; }
    .pickmeup .pmu-instance nav {
      color: #eeeeee;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      line-height: 2em; }
      .pickmeup .pmu-instance nav:first-child {
        background: red;
      }
      .pickmeup .pmu-instance nav *:first-child :hover {
        color: #88c5eb; }
      .pickmeup .pmu-instance nav .pmu-prev,
      .pickmeup .pmu-instance nav .pmu-next {
        display: none;
        height: 2em;
        width: 1em; }
      .pickmeup .pmu-instance nav .pmu-month {
        width: 14em; }
    .pickmeup .pmu-instance .pmu-years *,
    .pickmeup .pmu-instance .pmu-months * {
      display: inline-block;
      line-height: 3.6em;
      width: 3.5em; }
    .pickmeup .pmu-instance .pmu-day-of-week {
      color: #999999;
      cursor: default; }
    .pickmeup .pmu-instance .pmu-day-of-week *,
    .pickmeup .pmu-instance .pmu-days * {
      display: inline-block;
      line-height: 1.5em;
      width: 2em; }
    .pickmeup .pmu-instance .pmu-day-of-week * {
      line-height: 1.8em; }
  .pickmeup .pmu-instance:first-child .pmu-prev,
  .pickmeup .pmu-instance:last-child .pmu-next {
    display: block; }
  .pickmeup .pmu-instance:first-child .pmu-month,
  .pickmeup .pmu-instance:last-child .pmu-month {
    width: 13em; }
  .pickmeup .pmu-instance:first-child:last-child .pmu-month {
    width: 12em; }
  .pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
    display: none; }
	
.pickmeup .pmu-instance:first-child:last-child .pmu-month {
	width: 12em;
	color: #fff;
	background: #E50300;
	border-radius: 20px; 
}

.pmu-month pmu-button {
    color: #fff !important;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}
 
/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
 
/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
 
/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
i.glyphicon.glyphicon-calendar {
    top: 6px;
}

.inputError {
    border-color: red !important;
}

/* Auto Complete */
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-widget-content {
	background: #ffffff;
    color: #333333;
}

.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.ui-menu {
	list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
}

.ui-autocomplete {
	position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

.ui-front {
	z-index: 100;
}
/*------------*/


.fontStyle{
	color: #ccc;
    font-weight: normal;
    font-style: italic;
}

/* Range Slider  */
.range-slider {
    position: relative;
    height: 80px;
}
.extra-controls {
    position: relative;
    border-top: 3px solid #000;
    padding: 10px 0 0;
}

.range-slider {
	width: 50%;
	height: 10%;
}
.irs-slider.single {
	background: red;
	border-radius: 15px;
}
.irs-line {
	height: 6px;
    top: 28px;
}

.irs-bar-edge, .irs-bar {
	height: 0;
}
.irs-line-left,.irs-line-right{
    border-radius: 3px;
    height: 6px;
}
 {
    border-radius: 3px;
    height: 6px;
}
#result_p {
    font-weight: bold;
}
p {
    margin-bottom: 9px;
}
.irs-min, .irs-max, .irs-single {
    display: none;
}

.irs-bar {
	background-color: #575c67;
}

/*  End Range Slider */

/* Compare page Style */
.productCompareContainer {
    width: 100%;
    overflow: hidden;
    //padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.innerProductCompareContainer {
}
.btnContinue {
    background: #ff0300;
    color: #fff;
    font-weight: bold;
    padding: 6px 15px;
}
.selectedProduct1,.selectedProduct1 {
    height: 65px;
    border: 1px solid #ccc;
    padding: 5px;
    background: #575c67;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin: 10px 0;
}
.crossMark {
    float: left;
    //background: url('../images/cross_dark.png') no-repeat;
    width: 20px;
    height: 20px;
}
.addProduct {
    height: 65px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;
}
.compareSection {
    float: left;
    width: 100%;
    line-height: 50px;
}
.productAdd {
    line-height: 50px;
}
.productText {
   float: left;
    width: 80%;
    line-height: 16px;
    padding: 5px;
}
.prouctDetailTable {
    background: #F6F6F6;
}
table td {
    border: 1px solid #eee;
    width: 20%;
    padding: 10px;
}
.serviceCharge {
    color: #575c67;
    font-weight: bold;
}
.productPrice {
    font-size: 25px;
    /* font-weight: bold; */
    text-align: center;
    line-height: 50px;
}
.productPriceText {
    text-align: center;
}
.productChecked {
    font-size: 20px;
    color: #575c67;
    line-height: 50px;
}
.center {
    text-align: center;
}
.compareBtn {
    float: left;
    margin: 0 15px;
}
.cancelBtn {
    float: left;
}
.anchor {
    font-weight: bold;
    font-size: 16px;
    color: #ff0300;
    border-bottom: 1px solid red;
    clear: both;
    text-decoration: none;
}
@media (min-width:831px){
    .compareSection {
    float: left;
    width: 20%;
    margin: 20px 0;
}
.compareBtn {
    float: left;
    margin-right: 30px;
}
}
.addIcon {
    float: left;
    background: url('../images/add.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 20px;
}
