/*Form Stylings*/
.margin0{
	margin:0;
}
.padding0{
padding:0;
}
.formHeading{
	font-size:24px;
}
.formTitle{
	border-bottom:1px solid #ccc;
    margin: 15px 0;
    padding-bottom: 8px;
}
.personalIcon{
	background: url('../images/personal_detail.png') no-repeat;
    width: 16px;
    height: 15px;
    margin-right: 9px;
    float: left;
}
.formPosition{
	position:relative;
	padding-left:0;
}
.placeholderTxt{
    color: #a7a9ac;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 9px;
    top: 13px;
}
.changePosition{
	font-size: 10px;
	top: 9px;
}
#sb4  .form-control{
    height: 38px;
	padding-top: 15px;
}
#sb4  select.form-control{
	padding-top:6px;
	
}
.info{
    background: url('../images/info.png') no-repeat;
    height: 26px;
    width: 23px;
    float: left;
    margin-top:13px;
	margin-left: -5px;
}
.primaryIcon{
	background: url('../images/primary_address.png') no-repeat;
    width: 14px;
    height: 20px;
    margin-right: 9px;
    float: left;
}
.switchBtn_off {
    background: url('../images/toggle_closed.png') no-repeat;
    display: inline-block;
    width: 60px;
    height: 30px;
    float: left;
    margin-top: 0;
}
/*End of form stylings*/
